<<<<<<< HEAD
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
    color: #fff;
  background: #2d2d2d;
} 


/******************************************
/* LAYOUT
/*******************************************/
section {
  width: 40%;
  /* border: 1px solid #2d2d2d; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
}

main {
  /* color: #fff;
  background: #2d2d2d; */
  padding: 30px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/


input, button{
  width: 100%;
  padding: 20px;
  border-radius: 15%;
}

button:hover{
  cursor: pointer;
}

button{
  margin-bottom: 40px;
}

.link {
  color: white;
}

@media screen and (max-width: 480px){
  section{
    width: 100%;
  }
  main{
    display: block;
    padding: 10px;
    width: 100%;
  }
}

=======
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
    color: #fff;
  background: #2d2d2d;
} 


/******************************************
/* LAYOUT
/*******************************************/
section {
  width: 40%;
  /* border: 1px solid #2d2d2d; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px auto;
}

main {
  /* color: #fff;
  background: #2d2d2d; */
  padding: 30px;
  display: inline-block;
  text-align: center;
  width: 100%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/


input, button{
  width: 100%;
  padding: 20px;
  border-radius: 15%;
}

button:hover{
  cursor: pointer;
}

button{
  margin-bottom: 40px;
}

.link {
  color: white;
}

@media screen and (max-width: 480px){
  section{
    width: 100%;
  }
  main{
    display: block;
    padding: 10px;
    width: 100%;
  }
}

>>>>>>> 3794b7587e23103b9fbe7a9038b4e548bf9a24ab
